@media screen and (min-width: 767px) {
  header,
  .grid {
    max-width: 720px;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "item1 item1"
      "item1 item1"
      "item2 item3"
      "item4 item5";
  }
  .absolute-box {
    margin-top: 300px;
  }
}

@media screen and (min-width: 991px) {
  header,
  .grid {
    max-width: 940px;
  }

  .grid {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas:
      "item1 item2 item3"
      "item1 item4 item5";
  }

  .absolute-box {
    margin-top: 150px;
  }

  .burger-menu {
    float: right;
  }
}

@media screen and (min-width: 1200px) {
}
