* {
  box-sizing: border-box;
}
.main-bg {
  background-color: blueviolet;
}

.electrifono {
  background-color: cyan;
  height: 200px;
  position: absolute;
  top: 200px;
  left: 0;
  right: 0%;
  z-index: 0;
}
.container {
  margin: 0 auto;
  width: 80%;
  background-color: darkblue;
  height: 500px;
  position: relative;
}
footer {
  height: 300px;
  background-color: rgb(54, 54, 54);
}
